@model IEnumerable<APPBASE.Models.ProductVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{string sPrintWidth = "700pt";}
@{int nNO = 0;}

<table width="@sPrintWidth">
    <tr style="border-bottom:solid 1px;">
        <td style="text-align:center;">No</td>
        <td style="text-align:center;">Kode</td>
        <td style="text-align:center;">Nama Barang</td>
        <td style="text-align:center;">Satuan</td>
        <td style="text-align:center;">Harga Pricelist</td>
        <td style="text-align:center;">Tanggal Update</td>
        <td style="text-align:center;">Photo</td>
    </tr>

    @if (Model == null) {
        <tr>
            <td colspan="7" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
        </tr>
    }

    @foreach (var item in Model)
    {
        nNO++;
                    
        <tr>
            <td style="padding-left:2pt;">@nNO;</td>
            <td style="padding-left:2pt;">@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
            <td style="padding-left:2pt;">@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
            <td style="padding-left:2pt;">@Html.DisplayFor(modelItem => item.UOM_DESC)</td>
            <td style="padding-left:2pt;">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.PROD_PRICE_BASE)</td>
            <td style="padding-left:2pt;">@hlpConvertionAndFormating.ConvertDateToStringMMMFmt(item.PROD_PRICEDT)</td>
            <td style="padding-left:2pt; padding-top:2pt;">
                @if (item.PROD_IMAGE != null)
                {
                    <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Product(item.PROD_IMAGE)" class="img-thumbnail img-wide-sm" alt="Foto" />
                }
                else
                {
                    <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_ProductNA()" class="img-thumbnail" alt="Foto" />
                }
            </td>
        </tr>
    }
</table>
