@model IEnumerable<APPBASE.Models.TrnstockdVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

<table class="table table-hover">
    <thead>
        <tr>
            <th>Kode</th>
            <th>Nama Barang</th>
            <th>Jumlah</th>
            <th>
                <div>Harga Jual</div>
                <div>Satuan</div>
            </th>
            <th>Harga Total</th>
            <th>
                <div>Tanggal</div>
                <div>Barang Terjual</div>
            </th>
            <th>Nama Pembeli</th>
            <th>Foto</th>
        </tr>
    </thead>

    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="8" align="center">Data Penjualan tidak ada</td>
            </tr>
        }
        else {
            if (Model.Count() <= 0) {
                <tr>
                    <td colspan="8" align="center">Data Penjualan tidak ada</td>
                </tr>
            }
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PROD_CODE</td>
                <td>@Html.DisplayFor(modelitem => item.PROD_DESC)</td>
                <td>@Html.DisplayFor(modelitem => item.TRND_QTY)</td>
                <td>@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_PRICE)</td>
                <td>@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</td>
                <td>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.TRN_DT)</td>
                <td>@Html.DisplayFor(modelitem => item.TRN_RECIPIENT)</td>
                <td>
                    @if (item.PROD_IMAGE != null)
                    {
                        <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Product(item.PROD_IMAGE)" class="img-thumbnail img-wide-sm" alt="Foto" />
                    }
                    else
                    {
                        <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_ProductNA()" class="img-thumbnail" alt="Foto" />
                    }
                </td>
            </tr>
        }
            <tr>
                <td colspan="4" style="text-align:right; font-weight:bold;">Total</td>
                <td style="font-weight:bold;">@ViewBag.SUM_AMOUNT</td>
                <td colspan="3"></td>
            </tr>

    </tbody>
</table>
