@model APPBASE.Models.ProductnewVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["COUNTRY_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="COUNTRY_ID">Kode Negara</label>
            <input type="hidden" id="COUNTRY_ID" name="COUNTRY_ID" class="form-control" value="Model.COUNTRY_ID"/>
            <input type="text" id="COUNTRY_NAME" name="COUNTRY_NAME" class="form-control" value="@Model.COUNTRY_NAME" readonly/>

            @if (ViewData.ModelState["COUNTRY_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("COUNTRY_ID1")
                    </label>
            }
            @if (ViewData.ModelState["COUNTRY_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("COUNTRY_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["VENDOR_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="VENDOR_ID">Vendor</label>
            <input type="hidden" value="@Model.VENDOR_ID" id="VENDOR_ID" name="VENDOR_ID" class="form-control"/>
            <input type="text" value="@Model.VENDOR_NAME" id="VENDOR_NAME" name="VENDOR_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["VENDOR_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("VENDOR_ID1")
                    </label>
            }
            @if (ViewData.ModelState["VENDOR_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("VENDOR_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODTYPE_ID">Tipe Produk</label>
            <input type="hidden" value="@Model.PRODTYPE_ID" id="PRODTYPE_ID" name="PRODTYPE_ID" class="form-control"/>
            <input type="text" value="@Model.PRODTYPE_NAME" id="PRODTYPE_NAME" name="PRODTYPE_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["PRODTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["PRODTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODSUBTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODSUBTYPE_ID">Jenis Produk</label>
            <input type="hidden" id="PRODSUBTYPE_ID_cache" value="@Model.PRODSUBTYPE_ID" />
            <input type="hidden" value="@Model.PRODSUBTYPE_ID" id="PRODSUBTYPE_ID" name="PRODSUBTYPE_ID" class="form-control"/>
            <input type="text" value="@Model.PRODSUBTYPE_NAME" id="PRODSUBTYPE_NAME" name="PRODSUBTYPE_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["PRODSUBTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["PRODSUBTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["SERIAL_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="SERIAL_ID">Seri</label>
            <input type="hidden" id="SERIAL_ID_cache" value="@Model.SERIAL_ID" />
            <input type="hidden" value="@Model.SERIAL_ID" id="SERIAL_ID" name="SERIAL_ID" class="form-control"/>
            <input type="text" value="@Model.SERIAL_NAME" id="SERIAL_NAME" name="SERIAL_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["SERIAL_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("SERIAL_ID1")
                    </label>
            }
            @if (ViewData.ModelState["SERIAL_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("SERIAL_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["UKURAN_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="UKURAN_ID">Ukuran</label>
            <input type="hidden" value="@Model.UKURAN_ID" id="UKURAN_ID" name="UKURAN_ID" class="form-control"/>
            <input type="text" value="@Model.UKURAN_NAME" id="UKURAN_NAME" name="UKURAN_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["UKURAN_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("UKURAN_ID1")
                    </label>
            }
            @if (ViewData.ModelState["UKURAN_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("UKURAN_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FINISHING_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FINISHING_ID">Finishing</label>
            <input type="hidden" id="FINISHING_ID_cache" value="@Model.FINISHING_ID" />
            <input type="hidden" value="@Model.FINISHING_ID" id="FINISHING_ID" name="FINISHING_ID" class="form-control"/>
            <input type="text" value="@Model.FINISHING_NAME" id="FINISHING_NAME" name="FINISHING_NAME" class="form-control" readonly/>

            @if (ViewData.ModelState["FINISHING_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FINISHING_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FINISHING_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FINISHING_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODNEW_CODE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODNEW_CODE">Kode</label>
            <input type="text" id="PRODNEW_CODE" name="PRODNEW_CODE" value="@Html.DisplayFor(model => model.PRODNEW_CODE)" class="form-control" maxlength = "60" readonly />

            @if (ViewData.ModelState["PRODNEW_CODE1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODNEW_CODE1")
                    </label>
            }
            @if (ViewData.ModelState["PRODNEW_CODE2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODNEW_CODE2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

