@model APPBASE.Models.ProductnewVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODNEW_CODE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            @if (ViewData.ModelState["PRODNEW_CODE1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODNEW_CODE1")
                </label>
            }
            @if (ViewData.ModelState["PRODNEW_CODE2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODNEW_CODE2")
                </label>
            }
            @if (ViewData.ModelState["PRODNEW_CODE3"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODNEW_CODE3")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->


<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["COUNTRY_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="COUNTRY_ID">Kode Negara</label>
            <select id="COUNTRY_ID" name="COUNTRY_ID" class="form-control select2" data-placeholder="Select COUNTRY_ID" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @foreach (var item in ViewBag.COUNTRYCODE)
                {

                    if (Model.COUNTRY_ID == item.ID)
                    {
                        <option selected value="@item.ID">@item.COUNTRY_NAME</option> }
                    else
                    {
                        <option value="@item.ID">@item.COUNTRY_NAME</option>}
                }
            </select>
            @if (ViewData.ModelState["COUNTRY_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("COUNTRY_ID1")
                </label>
            }
            @if (ViewData.ModelState["COUNTRY_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("COUNTRY_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["VENDOR_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="VENDOR_ID">Vendor</label>
            <select id="VENDOR_ID" name="VENDOR_ID" class="form-control select2" data-placeholder="Select VENDOR_ID" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @foreach (var item in ViewBag.VENDOR)
                {

                    if (Model.VENDOR_ID == item.ID)
                    {
                        <option selected value="@item.ID">@item.VENDOR_NAME</option> }
                    else
                    {
                        <option value="@item.ID">@item.VENDOR_NAME</option>}
                }
            </select>

            @if (ViewData.ModelState["VENDOR_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("VENDOR_ID1")
                </label>
            }
            @if (ViewData.ModelState["VENDOR_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("VENDOR_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODTYPE_ID">Tipe Produk</label>
            <select id="PRODTYPE_ID" name="PRODTYPE_ID" class="form-control select2" data-placeholder="Select PRODTYPE_ID" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @if (ViewBag.PRODTYPE != null)
                {
                    foreach (var item in ViewBag.PRODTYPE)
                    {

                        if (Model.PRODTYPE_ID == item.ID)
                        {
                            <option selected value="@item.ID">@item.PRODTYPE_NAME</option> }
                        else
                        {
                            <option value="@item.ID">@item.PRODTYPE_NAME</option>}
                    }
                }
            </select>

            @if (ViewData.ModelState["PRODTYPE_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID1")
                </label>
            }
            @if (ViewData.ModelState["PRODTYPE_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["PRODSUBTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODSUBTYPE_ID">Jenis Produk</label>
            <input type="hidden" id="PRODSUBTYPE_ID_cache" value="@Model.PRODSUBTYPE_ID" />
            <select id="PRODSUBTYPE_ID" name="PRODSUBTYPE_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @if (ViewBag.PRODSUBTYPE != null)
                {
                    foreach (var item in ViewBag.PRODSUBTYPE)
                    {

                        if (Model.PRODSUBTYPE_ID == item.ID)
                        {
                            <option selected value="@item.ID">@item.PRODSUBTYPE_NAME</option> }
                        else
                        {
                            <option value="@item.ID">@item.PRODSUBTYPE_NAME</option>}
                    }
                }
            </select>

            @if (ViewData.ModelState["PRODSUBTYPE_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_ID1")
                </label>
            }
            @if (ViewData.ModelState["PRODSUBTYPE_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["SERIAL_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="SERIAL_ID">Seri</label>
            <input type="hidden" id="SERIAL_ID_cache" value="@Model.SERIAL_ID" />
            <select id="SERIAL_ID" name="SERIAL_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @if (ViewBag.SERIAL != null)
                {
                    foreach (var item in ViewBag.SERIAL)
                    {

                        if (Model.SERIAL_ID == item.ID)
                        {
                            <option selected value="@item.ID">@item.SERIAL_NAME</option> }
                        else
                        {
                            <option value="@item.ID">@item.SERIAL_NAME</option>}
                    }
                }
            </select>

            @if (ViewData.ModelState["SERIAL_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("SERIAL_ID1")
                </label>
            }
            @if (ViewData.ModelState["SERIAL_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("SERIAL_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FINISHING_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FINISHING_ID">Finishing</label>
            <input type="hidden" id="FINISHING_ID_cache" value="@Model.FINISHING_ID" />
            <select id="FINISHING_ID" name="FINISHING_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @if (ViewBag.FINISHING != null)
                {
                    foreach (var item in ViewBag.FINISHING)
                    {

                        if (Model.FINISHING_ID == item.ID)
                        {
                            <option selected value="@item.ID">@item.FINISHING_NAME</option> }
                        else
                        {
                            <option value="@item.ID">@item.FINISHING_NAME</option>}
                    }
                }
            </select>

            @if (ViewData.ModelState["FINISHING_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FINISHING_ID1")
                </label>
            }
            @if (ViewData.ModelState["FINISHING_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FINISHING_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["UKURAN_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="UKURAN_ID">Ukuran</label>
            <select id="UKURAN_ID" name="UKURAN_ID" class="form-control select2" data-placeholder="Select UKURAN_ID" style="width: 100%;" @vsReadonlyTextbox>
                <option selected value=""></option>
                @if (ViewBag.UKURAN != null)
                {
                    foreach (var item in ViewBag.UKURAN)
                    {

                        if (Model.UKURAN_ID == item.ID)
                        {
                            <option selected value="@item.ID">@item.UKURAN_NAME</option> }
                        else
                        {
                            <option value="@item.ID">@item.UKURAN_NAME</option>}
                    }
                }
            </select>

            @if (ViewData.ModelState["UKURAN_ID1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("UKURAN_ID1")
                </label>
            }
            @if (ViewData.ModelState["UKURAN_ID2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("UKURAN_ID2")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
