@model IEnumerable<APPBASE.Models.ProductnewVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Info Produk Baru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassBP_STS = "";}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Cari ID"/>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                    <a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-warning" style="margin-left:5px; color:White;"><i class="fa fa-plus"></i> Tambah Barang Baru</a>
                    @if (hlpConfig.SessionInfo.getAppRoleId() == 1) {
                        <a href="@Url.Action("Indexvalidasi", "Product")" class="btn btn-flat btn-sm btn-primary" style="margin-left:5px; color:White;"><i class="fa fa-plus"></i> Validasi Data Barang</a>
                    }
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Kode Barang</th>
                    <th>Nama Barang</th>
                    <th>Jumlah</th>
                    <th>Harga Pricelist</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="2" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-flat btn-sm btn-success" style="margin-left:5px; color:White;"><i class="fa fa-eye"></i> View Detail</a>
                        </td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.PRODNEW_CODE)</td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.PRODNEW_NAME)</td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.PRODNEW_QTY) @Html.DisplayFor(modelItem => item.UOM_DESC)</td>
                        <td class="SEARCHABLE_ROWS">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.PRODNEW_PRICE_BASE)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
