@model APPBASE.Models.Rptrekap_sellVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}
@{
    string isCheckedTopdata = "";
    string isCheckedPeriodeByDate = "";
    string isCheckedPeriodByMonth = "";
    string isCheckedPeriodByYear = "";

    if (Model.TOPDATA > 0) { isCheckedTopdata = "checked"; }
    if (Model.FILTER_TYPE == 1) { isCheckedPeriodeByDate = "checked"; }
    if (Model.FILTER_TYPE == 2) { isCheckedPeriodByMonth = "checked"; }
    if (Model.FILTER_TYPE == 3) { isCheckedPeriodByYear = "checked"; }
    
}

<table>
    <tr>
        <td><input type="radio" class="FILTER_TYPE" id="FILTER_TYPE1" name="FILTER_TYPE" value="1" @isCheckedPeriodeByDate> Periode Tanggal</td>
        <td>
            <div class="input-group">
                <input type="text" id="TRNFROM_DT" name="TRNFROM_DT" value="@Html.DisplayFor(model => model.TRNFROM_DT)" class="form-control" data-inputmask="@vsDateFormat" data-mask style="width: 150px; margin-left:5px;" />
                <input type="text" id="TRNTO_DT" name="TRNTO_DT" value="@Html.DisplayFor(model => model.TRNTO_DT)" class="form-control" data-inputmask="@vsDateFormat" data-mask style="width: 150px; margin-left:5px;" />
            </div> <!-- /.end Input-group -->
        </td>
    </tr>

    <tr>
        <td><input type="radio" class="FILTER_TYPE" id="FILTER_TYPE2" name="FILTER_TYPE" value="2" @isCheckedPeriodByMonth> Periode Bulan</td>
        <td>
            <div class="input-group">
                <select id="TRN_MONTH" name="TRN_MONTH" class="form-control select2" data-placeholder="" style="width: 150px; margin-left:5px;">
                    <option value="">All</option>
                    @foreach (var item in ViewBag.MONTH)
                    {
                        if (item.ID == Model.TRN_MONTH)
                        {
                            <option selected value="@item.ID">@item.MONTH_SHORTDESC</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.MONTH_SHORTDESC</option>
                        }

                    }
                </select>
                <input type="text" id="TRN_YEAR" name="TRN_YEAR" value="@Model.TRN_YEAR" class="form-control input-sm" style="width: 100px; margin-left:5px;"/>
            </div> <!-- /.end Input-group -->
        </td>
    </tr>

    <tr>
        <td>Tipe Produk</td>
        <td>
            <select id="PRODTYPE_ID" name="PRODTYPE_ID" class="form-control select2" data-placeholder="" style="width: 150px; margin-left:5px;">
                <option value="">View All</option>
                @foreach (var item in ViewBag.PRODTYPE)
                {

                    if (Model.PRODTYPE_ID == item.ID) {<option selected value="@item.ID">@item.PRODTYPE_NAME</option> }
                    else {<option value="@item.ID">@item.PRODTYPE_NAME</option> }
                }
            </select>
        </td>
    </tr>

</table>
