@model APPBASE.Models.Rptrekap_sellVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

<!-- content table -->
<table width="700pt">
    <tr style="border-top:solid 1px black;border-bottom:solid 1px black;">
        <td style="text-align: center;">No</td>
        <td>Kode</td>
        <td>Nama Barang</td>

        <td style="text-align: center;">Jan</td>
        <td style="text-align: center;">Feb</td>
        <td style="text-align: center;">Mar</td>
        <td style="text-align: center;">Apr</td>
        <td style="text-align: center;">Mei</td>
        <td style="text-align: center;">Jun</td>
        <td style="text-align: center;">Jul</td>
        <td style="text-align: center;">Agt</td>
        <td style="text-align: center;">Sep</td>
        <td style="text-align: center;">Okt</td>
        <td style="text-align: center;">Nov</td>
        <td style="text-align: center;">Des</td>
        <td style="text-align: center;">Total</td>
        <td style="text-align: center;">No. Referensi</td>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td colspan="17" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
        </tr>
    }

    @foreach (var item in Model.DETAIL)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
            <td>@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[0])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[1])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[2])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[3])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[4])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[5])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[6])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[7])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[8])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[9])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[10])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY[11])</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY_TOTAL)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
        </tr>
    }
</table>

