@model APPBASE.Models.ProductstockVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="form-group">
    <label>Kode</label>
    <div class="form-control">@Html.DisplayFor(model => model.PROD_CODE)</div>
</div> <!-- /.form-group -->
<div class="form-group">
    <label>Nama Barang</label>
    <div class="form-control">@Html.DisplayFor(model => model.PROD_NAME)</div>
</div> <!-- /.form-group -->

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label>Harga Pricelist</label>
            <div class="form-control" style="text-align:right;">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(Model.PROD_PRICE_BASE)</div>
        </div> <!-- /.form-group -->
    </div> <!-- end col -->

    <div class="col-sm-12 col-md-6">
        <div class="form-group @vsErrClass">
            <label>Tanggal Update Harga</label>
            <div class="form-control">@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.PROD_PRICEDT)</div>
        </div> <!-- /.form-group -->
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
    <div class="col-sm-12 col-md-6" style="text-align:right;">
        <div class="form-group @vsErrClass">
            <label>Jumlah Stok</label>
            <div class="form-control">@Html.DisplayFor(model=>model.STOCK_QTY)</div>
        </div> <!-- /.form-group -->
    </div> <!-- end col -->

    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["STOCK_QTY0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="STOCK_QTY">Edit Stok</label>
            <input type="text" id="STOCK_QTY" name="STOCK_QTY" value="@Html.DisplayFor(model => model.STOCK_QTY)" class="form-control data-mask-integer" style="text-align:right;" @vsReadonlyTextbox />

            @if (ViewData.ModelState["STOCK_QTY1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STOCK_QTY1")
                    </label>
            }
            @if (ViewData.ModelState["STOCK_QTY2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STOCK_QTY2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- end col -->
</div> <!-- end row -->


