@model APPBASE.Models.TrnstockVM
@using APPBASE.Helpers
@{int nCount = 0; int nNo = 1;}

@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.TRN_DT)
<!-- content table -->
<table width="700pt">
    <tr style="border-top:solid 1px black;border-bottom:solid 1px black;">
        <td>No</td>
        <td>Kode</td>
        <td>Nama Barang</td>
        <td>Jumlah</td>
        <td style="text-align:center;">Satuan</td>
        <td style="text-align:center;">Mutasi ke-</td>
        <td style="text-align:center;">Keterangan</td>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td colspan="7" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
        </tr>
    }

    @foreach (var item in Model.LISTITEM)
    {
        <tr>
            <td>
                <span>@nNo</span>
            </td>
            <td>@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
            <td>@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
            <td>@Html.DisplayFor(model => item.TRND_QTY)</td>
            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.UOM_CODE)</td>
            <td>@Html.DisplayFor(modelItem => item.STORAGE_TARGETNAME)</td>
            <td>@Html.DisplayFor(model => item.TRND_DESC)</td>
        </tr>
        nCount++; nNo++;
    }
</table>

