@model APPBASE.Models.ProdsubtypeVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PRODTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODTYPE_ID">Tipe Produk</label>
                <select id="PRODTYPE_ID" name="PRODTYPE_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.PRODTYPE)
                    {

                        if (Model.PRODTYPE_ID == item.ID) {<option selected value="@item.ID">@item.PRODTYPE_NAME</option> }
                        else {<option value="@item.ID">@item.PRODTYPE_NAME</option> }
                    }
                </select>

            @if (ViewData.ModelState["PRODTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["PRODTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PRODSUBTYPE_NAME0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODSUBTYPE_NAME">Jenis Produk</label>
            <input type="text" id="PRODSUBTYPE_NAME" name="PRODSUBTYPE_NAME" value="@Html.DisplayFor(model => model.PRODSUBTYPE_NAME)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PRODSUBTYPE_NAME1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_NAME1")
                    </label>
            }
            @if (ViewData.ModelState["PRODSUBTYPE_NAME2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_NAME2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PRODSUBTYPE_CODE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PRODSUBTYPE_CODE">Kode</label>
            <input type="text" id="PRODSUBTYPE_CODE" name="PRODSUBTYPE_CODE" value="@Html.DisplayFor(model => model.PRODSUBTYPE_CODE)" class="form-control" maxlength = "30" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PRODSUBTYPE_CODE1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_CODE1")
                    </label>
            }
            @if (ViewData.ModelState["PRODSUBTYPE_CODE2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PRODSUBTYPE_CODE2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
