@model IEnumerable<APPBASE.Models.ProdsubtypeVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Info Jenis Produk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassBP_STS = "";}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Index", "Countrycode")">Kode Negara</a></li>
        <li ><a href="@Url.Action("Index", "Vendor")">Vendor</a></li>
        <li ><a href="@Url.Action("Index", "Prodtype")">Tipe Produk</a></li>
        <li class="active"><a href="@Url.Action("Index", "Prodsubtype")">Jenis Produk</a></li>
        <li ><a href="@Url.Action("Index", "Serial")">Seri</a></li>
        <li ><a href="@Url.Action("Index", "Finishing")">Finishing</a></li>
        <li ><a href="@Url.Action("Index", "Ukuran")">Ukuran</a></li>
    </ul> <!-- ./nav nav-tabs -->

    <div class="tab-content">
        <div class="tab-pane active">

            <div class="input-group">
                <div class="input-group-btn">
                    <a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-success pull-right"><i class="fa fa-plus"></i> Tambah Data</a>
                </div>
            </div>


            @{Html.RenderPartial("Index_data");}
        </div> <!-- ./tab-pane active -->
    </div> <!-- ./tab-content -->

</div> <!-- ./nav-tabs-custom -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
