@model IEnumerable<APPBASE.Models.ProductVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{
    ViewBag.Title = "Data Pricelist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassBP_STS = "";}
@{int nNO = 0;}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                
                <div class="pull-right">
                    <a href="@Url.Action("Index_print")" class="btn btn-flat btn-sm btn-warning" style="margin-right:5px; color:White;"><i class="fa fa-print"></i> Cetak</a>
                    <input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Cari Barang"/>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode</th>
                    <th>Nama Barang</th>
                    <th>Satuan</th>
                    <th>Harga Pricelist</th>
                    <th>Tanggal Update</th>
                    <th>Photo</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null) {
                    <tr>
                        <td colspan="7" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    nNO++;
                    
                    <tr>
                        <td>@nNO;</td>
                        <td>@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.UOM_DESC)</td>
                        <td>@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.PROD_PRICE_BASE)</td>
                        <td>@hlpConvertionAndFormating.ConvertDateToStringMMMFmt(item.PROD_PRICEDT)</td>
                        <td>
                            @if (item.PROD_IMAGE != null)
                            {
                                <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Product(item.PROD_IMAGE)" class="img-thumbnail img-wide-sm" alt="Foto" />
                            }
                            else
                            {
                                <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_ProductNA()" class="img-thumbnail" alt="Foto" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
