@{
    ViewBag.Appname = "OSS System";
}

@using APPBASE.Helpers
@using APPBASE.Svcapp
@using APPBASE.Svcbiz

<!DOCTYPE html>
<html lang="en" style="background-color:#5A5A5A;">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Appname</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- css Layout -->
    <link href="@Url.Content("~/")Content/css/Style.css" rel="stylesheet" type="text/css" />
    @RenderSection("includeTOP", required: false)
</head>
<body style="background-color:#5A5A5A;">

    <!-- Untuk keperluan setting selected menu -->
    <input type="hidden" id="menuActive" value="@Url.RequestContext.HttpContext.Request.RawUrl" />
    @RenderBody()

    @{Html.RenderPartial("_PartialJSVAR");}
    <!-- Javascript Modernizer -->
    <script src="@Url.Content("~/")Scripts/applogin.js"></script>

    @RenderSection("includeBOTTOM", required: false)
    @RenderSection("scripts", required: false)


</body>
</html>
