@using APPBASE.Helpers

<!DOCTYPE html>
<html class="bg-black" lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Appname | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- css Layout -->
    <link href="@Url.Content("~/")Content/css/Style.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/")Content/css/SiteLogin.css" rel="stylesheet" type="text/css" />
    @RenderSection("includeTOP", required: false)
</head>
<body class="bg-black">


    <div class="form-box" id="login-box">
        <div class="header"><img style="width:100px; height:40px; margin:0;" src="@Url.Content("~/")Images/Company_Logo_White.png" alt="@ViewBag.Appname" /></div>
        @RenderBody()
    </div>



    @{Html.RenderPartial("_PartialJSVAR");}

    <!-- Javascript Modernizer -->
    <script src="@Url.Content("~/")Scripts/app.js"></script>

    @RenderSection("includeBOTTOM", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
