@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>LAPORAN</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Rptrekap_barang")"><i class="fa fa-angle-double-right"></i> Rekapitulasi Barang</a></li>
            <li><a href="@Url.Action("Index", "Rptrekap_mutasi")"><i class="fa fa-angle-double-right"></i> Mutasi Barang</a></li>
            <li><a href="@Url.Action("Index", "Rptpricelist")"><i class="fa fa-angle-double-right"></i> Pricelist</a></li>
            <li><a href="@Url.Action("Index", "Rptsell")"><i class="fa fa-angle-double-right"></i> Laporan Penjualan</a></li>
            <li><a href="@Url.Action("Index", "Rptrekap_sell")"><i class="fa fa-angle-double-right"></i> Review Barang Laku</a></li>
        </ul>
    </li>
