@model APPBASE.Models.UserdetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{

    <input type="hidden" value="@ViewBag.PREV_URL" id="PREV_URL" name="PREV_URL" />
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PASSWORD0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD">Password lama</label>
            <input type="password" id="PASSWORD" name="PASSWORD" value="@Html.DisplayFor(model => model.PASSWORD)" class="form-control" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD1"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD1")
                </label>
            }
            @if (ViewData.ModelState["PASSWORD2"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD2")
                </label>
            }
            @if (ViewData.ModelState["PASSWORD3"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD3")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PASSWORD_NEW10"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD_NEW1">Password baru</label>
            <input type="password" id="PASSWORD_NEW1" name="PASSWORD_NEW1" value="@Html.DisplayFor(model => model.PASSWORD_NEW1)" class="form-control" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD_NEW11"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW11")
                </label>
            }
            @if (ViewData.ModelState["PASSWORD_NEW3"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW3")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["PASSWORD_NEW20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD_NEW2">Password baru</label>
            <input type="password" id="PASSWORD_NEW2" name="PASSWORD_NEW2" value="@Html.DisplayFor(model => model.PASSWORD_NEW2)" class="form-control" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD_NEW21"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW21")
                </label>
            }
            @if (ViewData.ModelState["PASSWORD_NEW3"] != null)
            {
                <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW3")
                </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

}

