@model APPBASE.Models.TrnstockVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}
@{int nCount = 0; int nNo = 1;}

        <table class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:5%;">No</th>
                    <th style="width:10%;">Kode</th>
                    <th style="width:30%;">Nama Barang</th>
                    <th style="width:5%;">Jumlah</th>
                    <th style="width:5%; text-align:center;">Satuan</th>

                    <th style="width:20%; text-align:center;">Harga Pricelist</th>
                    <th style="width:20%; text-align:center;">Harga Jual</th>
                    <th style="width:5%; text-align:center;">Diskon</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="7" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model.LISTITEM)
                {
                    <tr>
                        <td>
                            <span>@nNo</span>
                            <input type="hidden" id="PROD_ID" name="LISTITEM[@nCount].PROD_ID" value="@item.PROD_ID" />
                            <input type="hidden" id="PRODSTOCK_ID" name="LISTITEM[@nCount].PRODSTOCK_ID" value="@item.PRODSTOCK_ID" />
                        </td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
                        <td>@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
                        <td>
                            @if (ViewData.ModelState["TRND_QTY0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
                            <input type="text" id="TRND_QTY" name="LISTITEM[@nCount].TRND_QTY" value="@Html.DisplayFor(model => item.TRND_QTY)" class="form-control data-mask-integer TRND_QTY" style="text-align:right; padding:0 3px 0 0;"  @vsReadonlyTextbox />
                            @if (ViewData.ModelState["TRND_QTY1"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_QTY1")
                                    </label>
                            }
                            @if (ViewData.ModelState["TRND_QTY2"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_QTY2")
                                    </label>
                            }
                        </td>
                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.UOM_CODE)</td>
                        <td style="text-align:right;">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.PROD_PRICE_BASE)</td>
                        <td style="text-align:right;">
                            @if (ViewData.ModelState["TRND_PRICE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
                            <input type="hidden" id="TRND_PRICE_@nCount" name="LISTITEM[@nCount].TRND_PRICE" value="@Html.DisplayFor(model => item.TRND_PRICE)" class="form-control data-mask-decimal" style="text-align:right;" @vsReadonlyTextbox />
                            <input type="text" id="TRND_PRICE_S_@nCount" name="LISTITEM[@nCount].TRND_PRICE_S" value="@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.PROD_PRICE_BASE)" class="form-control data-mask-decimal" style="text-align:right;" @vsReadonlyTextbox />

                            @if (ViewData.ModelState["TRND_PRICE1"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_PRICE1")
                                    </label>
                            }
                            @if (ViewData.ModelState["TRND_PRICE2"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_PRICE2")
                                    </label>
                            }
                        </td>
                        <td style="text-align:right;">
                            @if (ViewData.ModelState["TRND_DISCRATE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
                            <input type="hidden" id="TRND_DISCRATE_@nCount" name="LISTITEM[@nCount].TRND_DISCRATE" value="@Html.DisplayFor(model => item.TRND_DISCRATE)" class="form-control data-mask-integer-percentage"  style="text-align:right;" @vsReadonlyTextbox />
                            <input type="text" id="TRND_DISCRATE_S_@nCount" name="LISTITEM[@nCount].TRND_DISCRATE_S" value="@Html.DisplayFor(model => item.TRND_DISCRATE)" class="form-control data-mask-integer-percentage"  style="text-align:right;" @vsReadonlyTextbox />

                            @if (ViewData.ModelState["TRND_DISCRATE1"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_DISCRATE1")
                                    </label>
                            }
                            @if (ViewData.ModelState["TRND_DISCRATE2"] != null)
                            {
                                    <label class="control-label" for="inputError">
                                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_DISCRATE2")
                                    </label>
                            }
                        </td>
                    </tr>
                    nCount++; nNo++;
                }
            </tbody>
        </table>
