@model APPBASE.Models.Rptrekap_mutasiVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

<!-- content table -->
<table width="700pt">
    <tr style="border-top:solid 1px black;border-bottom:solid 1px black;">
        <td style="text-align: center;">No</td>
        <td>Kode</td>
        <td>Nama Barang</td>
        <td style="text-align: center;">Satuan</td>

        <td style="text-align: center;">Stok Awal</td>
        <td style="text-align: center;">Masuk</td>
        <td style="text-align: center;">Keluar</td>
        <td style="text-align: center;">Total</td>
        <td style="text-align: center;">Foto</td>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td colspan="7" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
        </tr>
    }

    @foreach (var item in Model.DETAIL)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.PROD_CODE)</td>
            <td>@Html.DisplayFor(modelItem => item.PROD_NAME)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.UOM_DESC)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY_BEGIN)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY_IN)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY_OUT)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.QTY_ENDING)</td>
            <td style="text-align: center; padding-bottom: 2px;">
                @if (item.PROD_IMAGE != null)
                {
                    <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Product(item.PROD_IMAGE)" class="img-thumbnail img-wide-sm" alt="Foto" />
                }
                else
                {
                    <img id="imgPROD_IMAGE" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_ProductNA()" class="img-thumbnail" alt="Foto" />
                }
            </td>

        </tr>
    }
</table>

