@model APPBASE.Models.DashboardVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    @Html.DisplayFor(model=>model.PRODSELL)
                </h3>
                <p>
                    Barang/Furniture Terjual
                </p>
            </div>
            <a href="@Url.Action("Rincian", "Rptsell", new { id=Model.PRODSELL_YEAR })" class="small-box-footer">
                Tampilkan <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div> <!-- end small-box -->
    </div> <!-- end col -->

    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label for="PRODSELL_YEAR">Pilih Tahun</label>
            <select id="PRODSELL_YEAR" name="PRODSELL_YEAR" class="form-control select2" data-placeholder="" style="width: 100%;">
                @foreach (var item in Model.PRODSELL_YEAR_LIST)
                {

                    if (Model.PRODSELL_YEAR == item) {<option selected value="@item">@item</option> }
                    else {<option value="@item">@item</option> }
                }
            </select>
        </div> <!-- /.form-group -->
    </div> <!-- end col -->
</div>

